/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
/* container */
.card-style-3 {
    max-width: 350px;
    padding: 18px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    margin: 24px;
    border-radius: 20px;
    transition: transform 0.25s, box-shadow 0.25s;
    border: 14px solid gold;
}

.card-style-3:hover {
    box-shadow: -8px 8px 8px rgba(11, 84, 110, 0.8);
    transform: translateX(-8px);
}

/* content */
.pokemon-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
}

.pokemon-header .name {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pokemon-header .health {
    font-size: 18px;
}

.card-style-3 img {
    width: 100%;
    border: 6px solid orange;
}

.card-style-3 .details {
    display: flex;
    background: radial-gradient(rgba(225, 165, 55, 0.442), orange );
    margin: 5px 0px;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    flex-direction: row;
    align-items: center;
}

.card-style-3 .attack {
    display: flex;
    margin: 5px 0px;
    font-size: 12px;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-bottom: 24px;
    align-items: center;
}

.card-style-3 .attack .description {
    margin: 0px 10px 24px;

}

.card-style-3 .description .bold {
    font-weight: bold;
    font-size: 14px;
}

.card-style-3 .attack .power {
    font-size: 24px;
    font-weight: bold;
}

.card-style-3 .attack .description {
    flex: 1;
}

.card-style-3 .data {
    margin: 5px 0px;
    font-size: 12px;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
    border: 2px solid goldenrod;
    padding: 5px;
}

.card-style-3 .data {
    flex: 1;
}

#pokemon-card-1 {
    background: repeating-linear-gradient(
        rgb(193, 213, 193), 
        rgb(27, 138, 27)
    );
}
    
#pokemon-card-2 {
    background: repeating-linear-gradient(
        rgb(193, 213, 193), 
        rgb(27, 138, 27), 
        rgb(137, 196, 137)
    );
}

#pokemon-card-3 {
    background: repeating-linear-gradient(
        rgb(206, 171, 102), 
        rgb(221, 95, 6), 
        rgb(206, 171, 102)
    );
}

#pokemon-card-4 {
    background: repeating-linear-gradient(
        rgb(191, 134, 18), 
        rgb(122, 10, 139), 
        rgb(206, 171, 102)
    );
}