/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
/* container */
.card-style-3 {
    max-width: 350px;
    padding: 14px;
    padding-bottom: 10px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
    transition: transform 0.25s, box-shadow 0.25s;
    border: 18px solid gold;
}

.card-style-3:hover {
    box-shadow: -8px 8px 8px rgba(11, 84, 110, 0.8);
    transform: translateX(-8px);
}

/* content */
.pokemon-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
}

.pokemon-header .name {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pokemon-header .health {
    font-size: 20px;
}

.card-style-3 img {
    width: 100%;
    object-fit: cover;
    border: 6px solid goldenrod;
}

.card-style-3 .details {
    background: linear-gradient(
        90deg, 
        goldenrod, 
        rgba(218, 165, 32, 0.56),
        goldenrod
    );
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    margin-top: 4px;
    text-align: center;
}

.card-style-3 .attack {
    display: flex;
    margin: 5px 0px;
    font-size: 12px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
    align-items: center;
    padding-bottom: 24px;
    padding-top: 24px;
}

.carrd-style-3 .description {
    font-size: 36px;
}

.card-style-3 .description .bold {
    font-weight: bold;
    font-size: 20px;
}

.card-style-3 .attack .power {
    font-size: 30px;
    font-weight: bold;
}

.card-style-3 .attack {
    flex: 1;
}

.card-style-3 .data {
    font-size: 12px;
    border: 2px solid goldenrod;
    font-weight: bold;
}

#pokemon-card-1 {
    background: linear-gradient(
        to bottom right, 
        rgb(155, 217, 155), 
        rgb(70, 203, 70),
        rgb(162, 227, 162)
    );
}
    
#pokemon-card-2 {
    background: linear-gradient(
        to bottom right, 
        rgb(170, 71, 220), 
        rgb(170, 70, 37),
        rgb(170, 71, 220)
    );
}

#pokemon-card-3 {
    background: repeating-linear-gradient(
        rgb(253, 133, 4), 
        rgb(230, 86, 19), 
        rgb(253, 133, 4)
    );
}

#pokemon-card-4 {
    background: repeating-linear-gradient(
        rgb(170, 134, 18), 
        rgb(151, 73, 163), 
        rgb(170, 134, 18)
    );
}