* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #ece9e4;
}

/* Navbar settings and style */
#navbar-1 {
    background: linear-gradient(
        to bottom, 
        rgb(178, 175, 139), 
        #c79d7f
    );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 4px inset #8d1e2d;
}

.content-column {
    width: 800px;
    margin: 0px auto;
}

#navbar-1 a {
    text-decoration: none;
    color: #603913;
    padding: 24px;
    font-size: 20px;
    font-weight: bold;
}

#navbar-1 img {
    width: 200px;
}

#navbar-2 {
    background: linear-gradient(
        to bottom, 
        rgb(241, 212, 44), 
        #9aa2e2
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 6px ridge #392992;
}

#navbar-2 a {
    text-decoration: none;
    color: #1c75bc;
    padding: 26px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar-2 img {
    width: 200px;
}

#navbar-2 #logo {
    margin-right: auto;
}

#navbar-2 .cta-button {
    background-color: #cad2dd;
    color: #1c75bc;
    border-radius: 26px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 4px outset #1c75bc;
}

#layout-1 {
    width: 600px;
    margin: 48px auto;
    font-size: 24px;
    height: 150vh;
}

#layout-1 h2 {
    color: #8a7d58;
}

#layout-1 p {
    color: #4d4a3c;
}

#layout-2 {
    width: 600px;
    margin: 48px auto;
    font-size: 24px;
    height: 150vh;
}

#layout-3 {
    width: 600px;
    margin: 48px auto;
    font-size: 24px;
    height: 150vh;
}

#layout-3 h1 {
    color: orangered
}

#layout-2 h1 {
    color: #392992;
}

#layout-2 p {
    color: #101010;
}

#layout-2 h3 {
    color: #392992;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar-bottom-3 {
    background: linear-gradient(
        to bottom, 
        green, 
        rgb(73, 154, 73)
    );
    display: flex;
    justify-content: space-between;
    border-bottom: 4px inset purple;
}

#navbar-bottom-3 a {
    text-decoration: none;
    color: rgb(248, 132, 9);
    padding: 12px 36px;
    font-weight: bold;
}

#navbar-3 {
    background: linear-gradient(
        to bottom, 
        rgb(15, 13, 9), 
        #332929
    );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 4px inset purple;
}

#navbar-3 a {
    text-decoration: none;
    color: #d3d3d3;
    padding: 26px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar-3 img {
    width: 200px;
}

#navbar-3 #logo {
    margin-right: auto;
}

#navbar-3 .cta-button {
    background-color: rgb(21, 169, 24);
    color: rgb(248, 132, 9);
    border-radius: 26px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 4px inset rgb(34, 136, 36);
}

#Layout-2 {
    width: 600px;
    margin: 48px auto;
    font-size: 24px;
    height: 150vh;
}

#three-columns {
    display: grid;
    grid-template-columns: 1fr 400px 200px 200px 1fr;
    grid-template-areas: ". column-area-1 column-area-2 column-area-3 .";
}

#column-1 {
    background-color: #ffffff;
    padding: 0px 12px;
    grid-area: column-area-1;
}

#column-2 {
    background-color: #ffffff;
    padding: 0px 12px;
    grid-area: column-area-2;
}

#column-3 {
    background-color: #ffffff;
    padding: 0px 12px;
    grid-area: column-area-3;
}

#three-columns h2,
#three-columns h3 {
    border-bottom: 2px solid #5b539e;  
    padding-bottom: 4px;
    margin-bottom: 0px;
}

#three-columns img {
    margin-top: 0px;
    width: 100%;
}

#three-columns p {
    margin-top: 12px;
}

#layout-3 h {
    color: rgb(248, 132, 9);
}

#layout-3 p {
    color: #000000;
}

#promo {
    background: linear-gradient(
        to bottom, 
        green, 
        rgb(73, 154, 73)
    );
    display: flex;
    justify-content: center;
    border-bottom: 4px inset purple;
}

#promo h3 {
    color: black;
}

#promo .color {
    color: rgb(248, 132, 9);
}