@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Federo&family=Playwrite+IN:wght@100..400&family=Rubik+Glitch&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/field.jpg");
    background-size: cover;
}

.site-container {
    width: 1000px;
    margin: 48px auto;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.football {
    background: linear-gradient(lightgreen, #427c42);
    padding: 48px 0px;
    align-items: center;
    text-align: center;
}

.football h4 {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.football h1 {
    font-weight: bold;
    font-size: 86PX;
    color: white;
    margin-top: 0px;
}

.footbLL H2 {
    font-weight: bold;
    font-size: 20px;
    color: white;
}





