* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* flexbox container */
#two-columns {
    display: flex;
    max-width: 800px;
    margin: 0px auto;
}

/* flexbox item */
#sidebar-content {
    background-color: rgb(192, 208, 214);
    /* flex: 1; */
    width: 275px;
    padding: 24px;
    border-right: 2px solid #aeb3d1;
    border-left: 2px solid #aeb3d1;
    font-family: 
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sidebar-content h3 {
    border-bottom: 2px solid #aeb3d1;
}
.indent  {
    margin-left: 20px;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-content ul li a {
    color: #5b5479;
    text-decoration: none;
}

#sidebar-content ul li {
    padding: 4px 0px;
}

/* flexbox item */
#main-content {
    flex: 1;
    padding: 10px 48px;
    font-family: 'Times New Roman', Times, serif;
    border-right: 2px solid #aeb3d1;
}
#main-content h2 {
    border-bottom: 2px solid #aeb3d1;
}

#main-content-2 {
    display: flex;
    margin: auto;  
}

#main-content-2 .computer-room {
    width: 50%;
    margin-left: 8px;
    max-width: 200px;
    box-shadow: -2px -2px 2px #aeb3d1;
}