/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
.girl-1 {
    border: 10px solid #5290a8;
    width: 50px;
    margin: 24px;
    padding: 10px;
    display: inline-block;
    background-color: #656576;
    border-radius: 50%;
    box-shadow: outset inset 0px 0px 16px 4px ;
}

.girl-2 {
    border: 10px solid #674c58;
    width: 100px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #38203c;
    box-shadow: outset -3px -3px 3px 3px inset 0px 0px 16px 4px #9d999d;
}

.girl-3 {
    border: 10px solid #1b1417;
    width: 50px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: aquamarine;
    box-shadow: inset 0px 0px 16px 4px #00000033;
}
.pic-heading {
    border: 10px solid #4f7fa5;
    width: 100px;
    margin: 24px;
    padding: 24px;
    background-color: white;
    display: inline-block;
    text-align: center;
    box-shadow: 
        -3px -3px 3px 3px #00000033,  
        inset 0px 0px 16px 4px #282728;
}  

.showing-area {
    text-align: center;
}