/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
.girl-1 {
    border: 10px solid #111c21;
    width: 50px;
    margin: 24px;
    padding: 8px;
    display: inline-block;
    background-color: beige;
    border-radius: 50%;
    box-shadow:
        -1px -1px 1px 1px #00000033,  
        inset 0px 0px 16px 4px #00000033;
}

.girl-2 {
    border: 10px solid #1d181a;
    width: 100px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #488fa9;
    box-shadow:  
        -1px -1px 1px 1px #00000033,  
        inset 0px 0px 16px 4px #00000033;
}

.girl-3 {
    border: 10px solid #0a0a0a;
    width: 50px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: aquamarine;
    box-shadow:      
        -1px -1px 1px 1px #00000033,  
        inset 0px 0px 16px 4px #00000033;
}
.pic-heading {
    border: 10px solid #16242f;
    width: 100px;
    margin: 24px;
    padding: 24px;
    background-color: rgb(128, 127, 162);
    display: inline-block;
    text-align: center;
    color: #f9f7f7;
    
    box-shadow: 
        -1px -1px 1px 1px #00000033,  
        inset 0px 0px 16px 4px #00000033;
}  

.showing-area {
    text-align: center;
}