* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#palette-1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: darkorchid;
}

#p1-color-1 {
    background-color: #FF99C9;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#p1-color-2 {
    background-color: #C1BDDB;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#p1-color-3 {
    background-color: #A2C7E5;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#palette-2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #D36135;
}
#p2-color-1 {
    background-color: #D36135;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}

#p2-color-2 {
    background-color: #7FB069;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}

#p2-color-3 {
    background-color: #ECE4B7;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}

#palette-3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #003249;
}
#p3-color-1 {
    background-color: #80CED7;
    color: #000000;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 24px;
}

#p3-color-2 {
    background-color: #007EA7;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 24px;
}

#p3-color-3 {
    background-color: #003249;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 24px;
}