* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}



#hover-gallery {
    margin: 48px auto;
    width: 800px;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 24px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}

/* kitty-boo */
#kitty-boo {
    position: relative;
    border: 0px;
    padding: 0px;
}

#kitty-boo .card-front,
#kitty-boo .card-back {
    border: 3px solid black;
    border-radius: 12px;
    padding: 24px;
}

#kitty-boo .card-back {
    transform: scaleX(0);
}

#kitty-boo .card-front {
    background-image: url("../images/cat-1.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#kitty-boo .card-front {
    transition: transform 0.25s 0.25s;
}

#kitty-boo .card-back {
    transition: transform 0.25s;
}

#kitty-boo:hover .card-front {
    transform: scaleX(0);
    transition: transform 0.25s;
}

#kitty-boo:hover .card-back {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}

/* kitty-boo-2 */
#kitty-boo-2 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#kitty-boo-2 .card-front,
#kitty-boo-2 .card-back {
    border: 3px solid black;
    border-radius: 12px;
    padding: 24px;
}

#kitty-boo-2 .card-back {
    transform: scaleX(0);
}

#kitty-boo-2 .card-front {
    background-image: url("../images/cat-2.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#kitty-boo-2 .card-front {
    transition: transform 0.25s 0.25s;
}

#kitty-boo-2 .card-back {
    transition: transform 0.25s;
}

#kitty-boo-2 .card-front {
    transform: scaleX(0);
    transition: transform 0.25s;
}

#kitty-boo-2:hover .card-back {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}

/* Mousy */
#card6 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#card6 .card-front,
#card6 .card-back {
    border: 3px solid black;
    border-radius: 12px;
    padding: 24px;
}

#card6 .card-back {
    transform: scaleX(0);
}

#card6 .card-front {
    background-image: url("../images/cat-1.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#card6 .card-front {
    transition: transform 0.25s 0.25s;
}

#card6 .card-back {
    transition: transform 0.25s;
}

#card6:hover .card-front {
    transform: scaleX(0);
    transition: transform 0.25s;
}

#card6:hover .card-back {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}

/* Tom & Jerry */
#card6 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#card6 .card-front,
#card6 .card-back {
    border: 3px solid black;
    border-radius: 12px;
    padding: 24px;
}

#card6 .card-back {
    transform: scaleX(0);
}

#card6 .card-front {
    background-image: url("../images/cat-1.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#card6 .card-front {
    transition: transform 0.25s 0.25s;
}

#card6 .card-back {
    transition: transform 0.25s;
}

#card6:hover .card-front {
    transform: scaleX(0);
    transition: transform 0.25s;
}

#card6:hover .card-back {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}