* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hover-gallery {
    margin: 48px auto;
    width: 800px;
    max-width: 1000px;
    display: flex;
}

.card {
    width: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 24px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}

h1 {
    color: rgb(45, 45, 81);
    font-size: 48px;
    text-align: center;
    padding-top: 48px;
}

/* kitty-boo */
#kitty-boo {
    position: relative;
    border: 0px;
    padding: 0px;
}

#kitty-boo .card-front,
#kitty-boo .card-back {
    border: 3px solid black;
    border-radius: 12px;
    padding: 24px;
}

#kitty-boo .card-back {
    transform: scaleX(0);
    height: 100%;
}

#kitty-boo .card-front {
    background-image: url("../images/cat-1.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
}

#kitty-boo .card-front {
    transition: transform 0.25s 0.25s;
}

#kitty-boo .card-back {
    transition: transform 0.25s;
    background-color: aqua;
    color: blue;
}

#kitty-boo:hover .card-front {
    transform: scaleX(0);
    transition: transform 0.25s;
}

#kitty-boo:hover .card-back {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}

/* kitty-boo-2 */
#kitty-boo-2 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#kitty-boo-2 .card-front,
#kitty-boo-2 .card-back {
    border: 3px solid black;
    border-radius: 12px;
    padding: 24px;
}

#kitty-boo-2 .card-back {
    transform: scaleX(0);
    background-color: rgb(113, 121, 121);
    color: white;
    height: 100%;
}

#kitty-boo-2 .card-front {
    background-image: url("../images/cat-2.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
}

#kitty-boo-2 .card-front {
    transition: transform 0.25s 0.25s;
}

#kitty-boo-2 .card-back {
    transition: transform 0.25s;
}

#kitty-boo-2:hover .card-front {
    transform: scaleX(0);
    transition: transform 0.25s;
}

#kitty-boo-2:hover .card-back {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}

/* Mousy */
#mousy {
    position: relative;
    border: 0px;
    padding: 0px;
}

#mousy .card-front,
#mousy .card-back {
    border: 3px solid black;
    border-radius: 12px;
    padding: 24px;
}

#mousy .card-back {
    transform: scaleX(0);
    background-color: rgb(69, 131, 131);
    color: bisque;
    height: 100%;
}

#mousy .card-front {
    background-image: url("../images/rat-1.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: 200px center;
}

#mousy .card-front {
    transition: transform 0.25s 0.25s;
}

#mousy .card-back {
    transition: transform 0.25s;
}

#mousy:hover .card-front {
    transform: scaleX(0);
    transition: transform 0.25s;
}

#mousy:hover .card-back {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}

/* Tom & Jerry */
#tom-jerry {
    position: relative;
    border: 0px;
    padding: 0px;
}

#tom-jerry .card-front,
#tom-jerry .card-back {
    border: 3px solid black;
    border-radius: 12px;
    padding: 24px;
}

#tom-jerry .card-back {
    transform: scaleX(0);
    background-color: rgb(54, 29, 106);
    color: blanchedalmond;
    height: 100%;
}

#tom-jerry .card-front {
    background-image: url("../images/tom-jerry.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
}

#tom-jerry .card-front {
    transition: transform 0.25s 0.25s;
}

#tom-jerry .card-back {
    transition: transform 0.25s;
}

#tom-jerry:hover .card-front {
    transform: scaleX(0);
    transition: transform 0.25s;
}

#tom-jerry:hover .card-back {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}

/* breakpoint */
@media screen and (max-width:800px) { 
    #hover-gallery {
        flex-direction: column;
    }  
}