* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family:
        'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 
        Arial, sans-serif;
    background: radial-gradient(
        at top right, 
        #c95614,
        crimson 
    );
}

/* grid container */
#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
}

/* grid item */
#header {
    grid-area: header;
    padding: 0px 36px;
}

/* grid item */
#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;    
}

/* grid item */
#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

#header a {
    text-decoration: none;

}

#header #me {
    color: #132858;
}

#header #tube {
    background-color: #132858;
    color: #dcc708;
    padding: 4px;
    border-radius: 12px 0px;
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 1px solid #dcc708;  
}

#sidebar ul a {
    text-decoration: none;
    color: #132858;
    display: block;
    padding: 12px;
}

/* pseudo-class */
#sidebar ul a:hover {
    background-color: #e1f1081a;
    border-radius: 12px;
    color:#dcc708;
}
.metube-item a .thumbnail a:hover {
    box-shadow: -4px -4px 4px #ddf504f7;
}
.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.metube-item .thumbnail {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 50px 0px;
    border-width: 5px;
    border-image: initial;
    border: 2px solid #291564;
    box-shadow: -4px -4px 4px #2a2c4c33;
}

.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color:#132858;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
    color: #3b3a71;
}

.metube-item .video-details {
    margin: 8px;
    font-size: 12px;
    color: #dcc708;
}

.metube-item .video-channel {
    margin-bottom: 4px;
}

#sidebar i {
    width: 30px;
}

#header a:hover #me {
    color: yellow;
}

#header a:hover #tube {
    color:  #ffff00c6;
}

.user-info img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 45% 0px;
    border: 2px solid #1a0080;
    background-color: #1a0080;
}

