* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#mebay-page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#mebay-sidebar {
    /* background-color: lightblue; */
    padding: 10px 24px;
}

#mebay-product {
    /* background-color: darkblue;  */
    color: white;
    padding: 10px 24px ;
}

#mebay-details {
    /* background-color: aquamarine; */
    padding: 10px24px;
}

.button {
    text-align: center;
    column-width: 50%;
}

.button a {
    display: inline-block;
    background-color: blue;
    text-align: center;
    color: white;
    border-radius: 30px;
    padding: 15px;
    text-decoration: none;
    width: 100%;
}

.button-2 a {
    display: inline-block;
    background-color: white;
    text-align: center;
    color: blue;
    border-radius: 30px;
    padding: 15px;
    text-decoration: none;
    width: 100%;
    border: 1px solid blue;
}

#mebay-sidebar img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

#mebay-product img {
    width: 100%;
    padding: 0px 24px;
}

#mebay-details .bold {
    font-weight: bold;
}

#mebay-details .bold-momi {
    font-weight: bold;
}
 
#mebay-details p {
    font-size:  10px;   
}