@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Federo&family=Playwrite+IN:wght@100..400&family=Rubik+Glitch&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Federo", sans-serif;
    background: linear-gradient(#dae3e3, #d4d8d8);
}

/* Navigation Bar settings */
.navbar {
    display: flex;
    justify-content: space-between;
    background: #a4f1ec;
    align-items: center;
    position: sticky;
    top: 0px;
    border-bottom: 4px ridge #00A99D;
}

/* Navigation Content settings */
.navbar a {
    text-decoration: none;
    color: black;
    padding: 10px;
    text-align: center;
}

.button-order-now {
    border: 2px outset #00A99D;
    border-radius: 36px;
    padding: 10px;
    margin-right: 48px;
    background-color: #85dbd5;
    color: #000000;
    display: inline-block;
    text-align: center;
}

.button-order-now:hover {
    background-color: #00A99D;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    color: #000000;
    border: 2px inset #00A99D;
    font-weight: bold;
}

.navbar a:hover {
    transform: translateY(-4px);
    color: #000000;
    /* border: 2px inset #00A99D; */
    font-weight: bold;
}

.button-order-now a {
    font-weight: bold;
}

.navbar img {
    width: 150px;
}

/* Hero Settings */
.hero-1 {
    background-image: url("../images/heroes-pic/artistic-dining-space.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Hero content settings */
.hero-1 .content {
    text-align: center;
    color: white;
    padding-top: px;
    border: 4px ridge #00A99D;
    background-color: black;
    padding: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 60px;
    color: #85dbd5;
    margin: 0px;
}

.content img {
    width: 200px;
    border: 2px inset #00A99D;
    border-radius: 10px;
}

#hero-button {
    display: inline-block;
    font-size: 18px;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    text-decoration: none;
    border: 2px outset #00A99D;
    border-radius: 36px;
    padding: 10px;
    background: #85dbd5;
    padding-left: 20px;
    padding-right: 20px;
}

#hero-button:hover {
    background-color: #00A99D;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    color: #000000;
    border: 2px inset #00A99D;
    font-weight: bold;
}

.hero-2 {
    background-image: url("../images/menu-pics/delmonico-steak.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-2 h1 {
    font-size: 20px;
    color: #000000;
    border: 4px inset #85dbd5;
    border-radius: 24px;
    background-color: #85dbd5;
    padding: 14px;
}

.hero-2 h1:hover {
    background-color: #00A99D;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    color: #000000;
    border: 2px inset #00A99D;
    font-weight: bold;
}

.hero-2 a {
    text-decoration: none;
}

.hero-3 {
    background-image: url("../images/heroes-pic/art-gallery-interior.jpg");
    height: 70vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 4px outset #00A99D;
}

.hero-3 h1 {
    font-size: 50px;
    color: #000000;
    border: 4px inset #85dbd5;
    border-radius: 24px;
    background-color: #85dbd5;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-sale {
    border-bottom: 2px ridge #00A99D;
    border-top: 2px ridge #00A99D;
    background: #a4f1ec;
    padding: 10px;
    /* display: inline-block; */
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.navbar-sale .bold {
    font-weight: bold;
    color: #00A99D;
    text-decoration: underline #00A99D;
}

.navbar-sale a {
    text-decoration: none;
    padding: 0px;
}

.navbar-sale .italic {
    font-style: italic;
}

/* Layout settings */
.layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 150vh;
}

/* Gallery Setup */
.basic-grid-gallery {
    width: 1000px;
    margin: 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    border: 5px inset #00A99D;
    background-color: #000000;
    gap: 20px;
}

.basic-grid-gallery img {
    width: 100%;
    border-radius: 10px;
}

#layout .basic-grid-gallery h3,
#layout .basic-grid-gallery h2,
#layout .basic-grid-gallery h1,
#layout .basic-grid-gallery p {
    text-align: center;
    color: #00A99D;
    margin: 0px;
}

#sneak {
    margin-top: 48px;
    color: #000000;
    text-align: center;
}

#button-order-2 {
    font-size: 18px;
    color: #000000;
    margin-top: 5px;
    border: 2px outset #00A99D;
    border-radius: 36px;
    padding: 10px;
    background: #85dbd5;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}

#button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
}

#mission,
#history {
    text-align: left;
    color: black;
}

.p-mis-his {
    text-align: left;
    color: #000000;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.featured-plate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 800px;
    margin: 48px auto;
    border: 4px outset #00A99D;
    background-color: #000000;
    color: #00A99D;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 24px;
}

.featured-plate-content .bold {
    font-weight: bold;
}

.featured-plate img {
    width: 500px;
}

#our-menu {
    color: #000000;
}

.menu-list {
    width: 800px;
    margin: 48px auto;
    padding: 24px;
    border: 5px inset #00A99D;
    background-color: #000000;
}

.menu-info {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    padding: 24px;
    align-items: center;
    gap: 60px;
}

.menu-info h4, 
.menu-info p {
    color: #00A99D;
    font-weight: 100;
}

.menu-list h2 {
    background-color: #a4f1ec;
    border-bottom: 1px inset #00A99D;
    color: #000000;
    border-radius: 20px;
    padding: 2px;
}

.menu-list img {
    width: 100%;
    border: 3px inset #00A99D;
    border-radius: 10px;
}

#menu-title {
    text-align: center;
    margin: 48px;
}

.menu-des p,
h4 {
    margin-top: 0px;
    padding: 0px;
}

.menu-des {
    display: flex;
    flex-direction: column;
    justify-content: left;
}  

#our-menu {
    text-align: center;
}

.menu-h2 {
    text-align: center;
    margin-top: 0px;
}

.img-set {
    border: 2px inset #00A99D;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    background: #a4f1ec;
    align-items: center;
    border-bottom: 4px ridge #00A99D;
    border-top: 4px ridge #00A99D;
    margin-top: 48px;
}

.footer-content {
    text-align: center;
}

.restaurant-info {
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1048px;
}

.cards {
    background-color: #000000;
    padding: 24px;
    flex: 1;
    margin: 24px;
    border-radius: 10px;
    text-align: center;
    border: 4px outset #00A99D;
}

.cards p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cards a {
    text-decoration: none;
    display: block;
    color: #00A99D;
}

#card2 .bold {
    font-weight: bold;
}

.cards:hover {
    background-color: #00A99D;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    color: #000000;
    border: 2px inset #00A99D;
}

.cards:hover a {
    color: #000000;
}

#cards {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card3 p {
    margin: 0px;
}

#card1 p {
    margin: 0px;
}

/* Tablet BreakPoint */
@media screen and (max-width: 1030px) {
    .basic-grid-gallery {
        max-width: 300px;
        width: 300px;
        margin: 48px auto;
        display: grid;
        padding: 24px;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .hero-1 .content .h1 {
        font-size: 30px;
    }

    .navbar {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .navbar a {
        font-size: 14px;
        margin: 5px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .button-order-now {
        border: 2px outset #00A99D;
        border-radius: 36px;
        background: #85dbd5;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .restaurant-info {
        max-width: 300px;
        width: 300px;
        margin: 48px auto;
        display: flex;
        flex-wrap: none;
        flex-direction: column;
        justify-content: center;
        height: 600px;
    }

    .cards {
        margin: 0px;
        font-size: 14px;
        justify-content: center;
        margin-bottom: 10px;
    }

    .menu-list {
        width: 500px;
    }

    .menu-list img {
        width: 100%;
    }
}

@media screen and (max-width: 830px) {
    .layout {
        width: 500px;
    }

    .hero-1 .content h1 {
        font-size: 40px;
    }

    .featured-plate {
        width: 500px;
        padding: 60px;       
    }

    .featured-plate img {
        width: 100%;
    }
}

@media screen and (max-width: 630px) {
    .layout {
        width: 400px;
    }

    .hero-1 .content h1 {
        font-size: 40px;
    }

    .featured-plate {
        width: 400px;
    }

    .featured-plate img {
        width: 100%;
    }

    .featured-plate p {
        font-size: 14px;
    }

    .featured-plate {
        padding-bottom: 10px;
        padding-top: 24px;   
    }

    .menu-list {
        width: 400px;
    }

    .menu-list img {
        width: 100%;
    }

    .menu-info h4 {
        font-size: 10px;
    }

    .menu-info p {
        font-size: 10px;
        font-weight: none;
    }
}