@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Playwrite+IN:wght@100..400&family=Rubik+Glitch&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/body-pic-graffiti-alley.jpg");
    background-size: cover;
    background-position: center center;
}

#hero-4 {
    background-image: url("../images/hi-res/urban-hi-res-1ui7-2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-4-2 {
    background-image: url("../images/hi-res/urban-hi-res-2nse.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-4 .hero-content {
    text-align: center;
    color: white;
    padding-top: 0px;
}

#hero-4-2 .hero-content {
    text-align: center;
    color: white;
    padding-top: 0px;
}

#hero-4 h2 {
    font-size: 96px;
    margin-bottom: 10px;
    font-family: "Barriecito", system-ui;
    text-shadow: 0px -5px 0px #02212a;
}

#hero-4-2 h2 {
    font-size: 96px;
    margin-bottom: 10px;
    font-family: "Barriecito", system-ui;
    text-shadow: 0px -5px 0px #02212a;
}

#hero-4 a {
    font-size: 18px;
    display: inline-block;
    background-color: rgb(34, 36, 36);
    color: #faf3f3;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    padding: 10px;
    margin-right: 12px;
    margin-left: 12px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 24px;
    border: 6px outset #02212a;
}

#hero-4-2 a {
    font-size: 18px;
    display: inline-block;
    background-color: rgb(28, 30, 30);
    color: #faf3f3;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    padding: 10px;
    margin-right: 12px;
    margin-left: 12px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0px;
    border: 6px outset #02212a;
}

#nav-bar {
    border-bottom: 10px ridge #02212a;
    border-top: 10px ridge #02212a;
    display: flex;
    justify-content: center;
    background-color: rgb(28, 30, 30);
}

#nav-bar a {
    display: flex;
    padding: 24px;
    justify-content: center;
    text-decoration: none;
    color: #faf3f3;
    font-weight: bold;
    font-size: 20px;
}

#nav-bar-2 {
    border-bottom: 10px ridge #02212a;
    border-top: 10px ridge #02212a;
    display: flex;
    justify-content: center;
    background-color: rgb(28, 30, 30);
}

#nav-bar-2 a {
    display: flex;
    padding: 24px;
    justify-content: center;
    text-decoration: none;
    color: #faf3f3;
    font-weight: bold;
    font-size: 20px;
}

#nav-bar span a {
    text-decoration: underline;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

#layout h2 {
    color: rgb(237, 242, 244);
}

.cropped-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    padding: 24px;
    border: 10px ridge #02212a;
    gap: 24px;
    background-color: rgb(49, 54, 54);
}

.vertical {
    columns: 4;
    column-gap: 10px;
    border: 10px ridge #02212a;
    background-color:  rgb(49, 54, 54);
    padding: 24px;
    padding-top: 24px;
    margin-bottom: 24px;
}

.vertical img {
    width: 100%;
}

.vertical h2 {
    font-size: 24px;
    text-align: center;
}

.portrait-h2 {
    border: 6px ridge #02212a;
    background-color: rgb(28, 30, 30);
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(237, 242, 244);
    padding-left: 24px;
    padding-right: 24px;
}

.portrait-h2 {
    flex: 1;
}

.horizontal-h2 {
    border: 6px ridge #02212a;
    background-color: rgb(28, 30, 30);
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(237, 242, 244);
    padding-left: 24px;
    padding-right: 24px;
}

span {
    font-size: 16px;
    text-align: center;
}

.paragraph {
    font-size: 12px;
}

.horizontal-2 {
    columns: 3;
    column-gap: 24px;
    border: 10px ridge #02212a;
    gap: 10px;
    background-color:  rgb(49, 54, 54);
    padding: 24px;
}

.horizontal-2 img {
    width: 100%;
}

.cropped-grid-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CARD CONTAINER */
#card-container {
    display: flex;
    gap: 36px;
    flex-direction: row;
    justify-content: space-evenly;
}

/* <!-- A CONTAINER FOR CONTENT --> */
.card {
    border: 6px solid #02212a;
    padding: 10px;
    padding-bottom: 10px;
    margin: 24px 0px;
    background-color: rgb(28, 30, 30);
    flex: 1;
    border: 10px ridge #02212a;
}

/* <!-- CARD CONTAINER & CONTENT--> */
.card h4 {
    font-size: 36px;
    margin: 10px;
    padding: px;
    color: rgb(237, 242, 244);
    font-family: "Barriecito", system-ui;
}

.card a {
    text-decoration: none;
    color: rgb(237, 242, 244);
    font-weight: bold;
    display: inline-block;
    padding-bottom: 24px;
}

.button a {
    font-size: 18px;
    display: inline-block;
    background-color: rgb(28, 30, 30);
    color: #faf3f3;
    text-decoration: none;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 12px;
    margin-left: 12px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0px;
    border: 6px outset #02212a;
    margin-bottom: 50px;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    border: 10px solid #333333;
    gap: 24px;
}

.basic-grid-gallery img {
    width: 100%;
}