* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/body.jpg");
    background-size: cover;
}

#hero-adopt {
    background-image: url("../images/hero-background.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: right;
    border: #cb600f;
}

#hero-adopt .hero-content {
    text-align: right;
    padding-top: 20px;
    justify-content: right;
}

#hero-adopt h1 {
    font-size: 60px;
    margin-bottom: 36px;
    padding: 24px;
    margin:48px;
    color:  rgb(85, 24, 142);
}

#hero-adopt h2 {
    font-size: 50px;
    margin-bottom: 36px;
    padding: 24px;
    background-color: rgb(85, 24, 142);
    border-radius: 50%;
    margin:90px;
}
/* #hero-aodpt a {
    font-size: 16px;
    display: inline-block;
    background-color: rgb(35, 34, 34);
    color: #f6f3f3;
    text-decoration: none;
    padding: 20px;
    margin-top: 36px;
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 20px;
    font-weight: bold;
} */

/* NAVBAR SETTINGS */
#navbar-container {
    background: linear-gradient(
        to bottom, 
        #540872, 
        #cb600f
    );
    display: flex;
    align-items: center;
}

/* NAVBAR CONTENT SETTINGS */
#navbar-container a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar-container #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#navbar-container a:hover {
    background: linear-gradient(
        to top, 
        #540872, 
        #cb600f
    );
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-menu a {
    background-color: rgb(85, 24, 142);
    width: 100%;
    min-width: 200px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

#navbar-container .dropdown-menu a:hover {
    background: rgb(112, 43, 176);
}

/* Pseudo :last-child
.dropdown-container:last-child .dropdown-menu {
    right: 0px;
} */

.adopt-layout {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adopt-layout #layout-content-1 {
    text-align: center;
    background-color: rgb(85, 24, 142);
    padding: 24px;
    margin: 24px;
    border-radius: 24px;
}

.adopt-layout #layout-content-1 p {
    font-size: 18px;
    font-weight: bold;
    color: rgb(248, 128, 8)
}

.adopt-layout #layout-content-1 h2 {
    font-size: 40px;
    color: white;
}

.adopt-layout #layout-content-1 {
    color: rgb(248, 128, 8);
}

.adopt-layout .pet-info a img {
    width: 300px;
    object-fit: cover;
}

.pet-info {
    width: 500px;
    display: block;
    text-align: center;
    background-color: rgb(85, 24, 142);
    padding: 24px;
    margin: 48px;
    border: 3px solid rgb(248, 128, 8);
    border-radius: 24px;
}

#polly {
    border: 2px solid rgb(248, 128, 8);
    border-radius: 24px;
}

.pet-info h1,p {
    color: white;
}

.pet-info span {
    color: rgb(248, 128, 8);
    font-size: 24px;
}

#sunshine {
    width: 400px;
    border: 2px solid rgb(248, 128, 8);
    border-radius: 24px;
}

#mikey {
    border: 2px solid rgb(248, 128, 8);
    border-radius: 24px;
}

#card-pic {
    position: relative;
    border: 0px;
    padding-bottom: 48px;
}

#card-pic .card-front,
#card-pic .card-back {
    border: 3px solid rgb(80, 10, 90);
    border-radius: 12px;
    padding: 24px;
}

#card-pic .card-back {
    transform: scaleX(0);
    background-color: rgb(85, 24, 142);
}

#card-pic .card-back p {
    color:rgb(248, 246, 245);
}

.bold {
    color: rgb(248, 128, 8);
    font-weight: bold;
}

#card-pic .card-front {
    background-image: url("../images/layout-pic.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#card-pic .card-front {
    transition: 
        transform 0.25s;
}

#card-pic .card-back {
    transition: 
        transform 0.25s;
}

#card-pic:hover .card-front {
    transform: scaleX(0);
}

#card-pic:hover .card-back {
    transform: scaleX(1);
}